.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 80%;
}

table {
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

tr:nth-child(even){
    background: lightgrey;
}
td{
  padding:10px;
}

th{
  background-color: #3d393c;
  color:white;
}

.update-field{
  background-color: #EFE7D3;
  padding:5px;
  text-align:center;
}
.delete-field{
  padding:5px;
  background-color: lightcoral;
  text-align:center;

}

.actions{
  text-decoration:none;
  color:black;
}

nav {
    /* display: flex; */
    justify-content:center;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    background-color: #3d393c;
    overflow: hidden;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    padding-top: 20px;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #8D538D;
  }
  

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #FFFF;
    position: absolute;
    top: 70px; 
    width: 0%;
  
    transition: all ease-in-out 100ms;
  }
  
  nav a:hover::before {
    width: 3.5%;
  }

  .nav-active {
    background-color: #afcdb7;
    padding: 24px 12px;
    color:white;
    pointer-events: none;
    

  }